<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

=======
>>>>>>> d511289170a7fab055c799e17d327944a56ca7fe
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ankstyle.css">
    <title>API ANKAKH</title>
    <script src="/Build/UnityLoader.js"></script>
    <script>
<<<<<<< HEAD
        function main() {
=======
        function main()
        {
            console.log("corriendo");
>>>>>>> d511289170a7fab055c799e17d327944a56ca7fe
            let unityInstance = UnityLoader.instantiate("unityContainer", "/Build/ankakh.json");
            //document.getElementById("unityContainer").style = "";
        }
    </script>
</head>
<<<<<<< HEAD

<body onload="main()">
    {{{body}}}
</body>

=======
<body onload="main()">
    <div class="container">
        {{{body}}}
    </div>
</body>
>>>>>>> d511289170a7fab055c799e17d327944a56ca7fe
</html>