<div id= "layout">
      <div id="titulo">
        <h1> ANKAKH</h1>
      </div>
      <div id= "infoJuego">
        <p> Ankakh es un juego diseñado para niños y niñas con el fin de que conozcan las carreras promovidas por el movimiento STEAM; 
          buscamos romper el prejuicio en donde se establece que no puedes llevar una vida "normal" y una vida laboral exitosa.
        </p>
        
        <p> El juego consiste en llevar un día a día del personaje tomando decisiones por el. De esta forma el usuario puede entrar a 
          la vida de un cientific@
        </p>
      
        <p> Dentro del juego, el "trabajo", consiste de un minijuego con diferentes niveles, al final el resutado del minijuego
          se ve reflejado al final del juego. 
        </p>

      </div>
      <div id="screenshots">
        <div id="screen1">
          <p>MiniJuego nivel 2</p>
          <img src="/Images/screen1.png">
        </div>
        <div id="screen2">
          <p>Elección de personaje</p>
          <img src="/Images/screen2.png">
        </div>
        <div id="screen3">
          <p>Principio de elección</p>
          <img src="/Images/screen3.png">
        </div>

      </div>

      <div id="gameContainer">
        <div id="unityContainer" style="width: 800px; height: 600px; margin: auto"></div>
      </div>
</div>
  




