<br>
<div class="allusers">
    <a href="http://localhost:5500/ankakh/users">All users</a>
</div>
<br>

<h1>Get User</h1>
<br>
<form action="/ankakh/addUser" method="POST">
    <div>
        <label for="name" >Name</label>
        <input type="text" name="name">
        <input type="checkbox" name="gameCompleted">
    </div>
    <br>
    <input type="submit" value="Add User">
</form>
<br>
<br>

<body>
    <!-- Equipo -->
    <div id= "participantes">
        <h1>Integrantes</h1>
        <ul>
            <li>Mateo Gonzalez Cosio</li>
            <li>Carolina Ortega</li>
            <li>Ximena Gonzalez</li>
        </ul>
    </div>
    
</body>
</html>

